In [10]:
# forum doubt
class triangle:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def cal_s(self):
        self.s=(self.a+self.b+self.c)/2
        print(self.s)
    
class area(triangle):
    def __init__(self,*args):
        super(area,self).__init__(*args)
    def cal_A(self):
        self.A=(self.s*(self.s-self.a)*(self.s-self.b)*(self.s-self.c)**0.5)
        print(self.A)

In [13]:
ar= area(1,2,5**0.5)
ar.cal_s()
ar.cal_A()

2.618033988749895
1.618033988749895

In [16]:
None is not None

False

In [2]:
import pandas as pd

In [3]:
mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
          {'a': 100, 'b': 200, 'c': 300, 'd': 400},
          {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
df = pd.DataFrame(mydict)
df

      a     b     c     d
0     1     2     3     4
1   100   200   300   400
2  1000  2000  3000  4000

In [7]:
df.iloc[lambda x: x.index % 2 == 0]

      a     b     c     d
0     1     2     3     4
2  1000  2000  3000  4000

In [11]:
df.iloc[lambda x: x.index in [5,12,23,56]]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [15]:
df.iloc[lambda x: print(list(x.index))]

[0, 1, 2]

TypeError: Cannot index by location index with a non-integer key

If you try to print x.index 
-> df.iloc[lambda x: print(x.index)]
it outputs : RangeIndex(start=0, stop=3, step=1) 
So basically what your lambda is trying to do comparing entire rangeIndex with list, which is not comparable 
You can try
df.iloc[lambda x: [i in [1,2] for i in x.index]]

      a     b     c     d
1   100   200   300   400
2  1000  2000  3000  4000